:root {
  --card-title-color: #000;
  --card-title-hover-color: #354557;
  --card-links-background-color: #354557;
  --real-estate-link-hover-background: rgba(53, 69, 87, 0.9);
  --for-sell-real-estate-card-status-title-background: #354557;
  --sold-real-estate-card-status-title-background: #3d4045;
  --under-construction-real-estate-card-status-title-background: #3e89de;
  ---real-estate-card-status-title-background: #354557;
  --card-links-color: #fff;
  --border-radius: 20px;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  --real-estate-page-title-color: #354557;
  --pagination-bullet-background-color: rgba(53, 69, 87, 0.5);
  --pagination-active-bullet-background-color: rgba(53, 69, 87, 1);
  --page-real-estate-info-icon-color: #354557;
  --page-real-estate-info-title-color: #354557;
  --mix-it-up-fillter-control-text-color: #354557;
  --mix-it-up-fillter-control-border-color: #354557;
  --mix-it-up-active-fillter-control-text-color: #fff;
  --mix-it-up-active-fillter-control-background: #354557;
  --mix-it-up-active-fillter-control-hover-background: rgba(53, 69, 87, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.link__ {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 26px;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.link__:hover {
  text-decoration: none;
}

.link__.real_estate_link__ {
  justify-content: center;
  font-size: 16px;
  background-color: var(--card-links-background-color);
  padding: 10px 20px;
  height: 47px;
  color: var(--card-links-color, #fff) !important;
}

.link__.real_estate_link__:hover {
  background-color: var(--real-estate-link-hover-background, #000);
}

.links_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.figure__ {
  display: flex;
  height: fit-content;
  position: relative;
  padding-bottom: 55.6048%;
  display: flex;
  border-radius: var(--border-radius, 20px);
  overflow: hidden;
}

.figure__ img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* Start Card Style */
.real_estate_card__ {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius, 20px);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}

.real_estate_card__ .description_wrapper__ {
  padding: 20px;
  padding-top: 0;
}

.real_estate_card__ .title__ {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: var(--card-title-color, #000);
}

.real_estate_card__ .real_estate_info_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.real_estate_info_wrapper li {
  width: calc(50% - 5px);
}

.real_estate_info_wrapper .real_estate_info__ {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.real_estate_info_wrapper .real_estate_info__ img {
  max-width: 20px;
  max-height: 20px;
}

.real_estate_card__ .real_estate_status__ {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  padding: 10px 20px;
  background-color: #354557;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.real_estate_card__.for_sell__ .real_estate_status__ {
  background-color: var(--for-sell-real-estate-card-status-title-background);
}

.real_estate_card__.sold__ .real_estate_status__ {
  background-color: var(--sold-real-estate-card-status-title-background);
}

.real_estate_card__.under_construction__ .real_estate_status__ {
  background-color: var(
    --under-construction-real-estate-card-status-title-background
  );
}

.real_estate_card__:hover .img-om {
  transform: scale(1.1);
}

.real_estate_card__:hover .title__ {
  color: var(--card-title-hover-color, #354557);
}

/* End Card Style */

/* Start Page Style */

.head_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page_real_estate_status__ {
  border-radius: var(--border-radius);
  background-color: var(--real-estate-page-states-background-color, #354557);
  padding: 10px 30px;
  color: var(--real-estate-page-states-color, #fff);
  font-size: 18px;
  font-weight: 500;
}

.real_estate_page__ .slider_content_wrapper__ .figure__ {
  padding-bottom: 123.977%;
  border-radius: 0 !important;
}

.real_estate_page__ .title__ {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--real-estate-page-title-color);
}

@media screen and (max-width: 767px) {
  .real_estate_page__ .title__ {
    font-size: 18px;
  }
}

.slider_buttons_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .slider_buttons_wrapper__ {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.real_estate_page__ .swiper-pagination {
  position: unset !important;
}

.real_estate_page__ .swiper-pagination-bullet {
  width: fit-content !important;
  height: 8px;
  width: 20px !important;
  border-radius: 5px !important;
  background-color: var(--pagination-bullet-background-color);
  transition: 0.5s;
}

.real_estate_page__ .swiper-pagination-bullet:not(:last-of-type) {
  margin-inline-end: 5px;
}

.real_estate_page__ .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 5px !important;
  background-color: var(--pagination-active-bullet-background-color);
}

.page_real_estate_info_title__ {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin: 15px 0 30px;
}

.page_real_estate_info_wrapper__ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.page_real_estate_info__ {
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  min-height: 150px;
  /* border: 1px solid #354557; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: calc(100% / 4 - 10px);
  cursor: pointer;
  transition: 0.3s;
}

.page_real_estate_info__:hover {
  transform: translateY(-10px);
}

.page_real_estate_info__ i {
  font-size: 28px;
  font-weight: 900;
  color: var(--page-real-estate-info-icon-color);
  text-align: center;
  margin: 0 auto;
}

.page_real_estate_info__ img {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

.page_real_estate_info__ .info_title__ {
  font-size: 22px;
  font-weight: 900;
  color: var(--page-real-estate-info-title-color);
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page_real_estate_info_wrapper__ {
    flex-wrap: wrap;
  }

  .page_real_estate_info__ {
    width: calc(100% / 3 - 10px);
  }
}

@media screen and (max-width: 500px) {
  .page_real_estate_info__ {
    width: calc(100% / 2 - 10px);
  }
  .page_real_estate_info__ i {
    font-size: 18px;
  }
  .page_real_estate_info__ .info_title__ {
    font-size: 16px;
  }
}

.mixitup_controls_wrapper__ {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter_control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  color: var(--mix-it-up-fillter-control-text-color);
  border: 1px solid var(--mix-it-up-fillter-control-border-color);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .filter_control {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .mixitup_controls_wrapper__ {
    flex-wrap: wrap;
  }

  .filter_control {
    width: calc(50% - 5px);
  }
}

.filter_control:hover {
  background-color: rgba(53, 69, 87, 0.1);
}

.filter_control.mixitup-control-active {
  color: var(--mix-it-up-active-fillter-control-text-color, #fff);
  background-color: var(--mix-it-up-active-fillter-control-background, #354557);
}

.filter_control.mixitup-control-active:hover {
  background-color: var(--mix-it-up-active-fillter-control-hover-background);
}

.real_estate_tabs_card .figure__ {
  padding-bottom: 119.772%;
  border-radius: 0;
}

/* End Page Style */

/* Fix Other Site Style */
.main-sec .main-slider {
  height: calc(100vh - 164px);
}
